@use '../../scss/' as *;
@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-family;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    &-xl {
        width: 86%;
        max-width: 1086px;
        margin: auto;
    }

    &-xxl {
        max-width: 1347px;
        margin: auto;
    }
}
