@use '../../../scss' as *;

.header {
    background-color: $dark-bg-color;
    font-size: 17px;
    color: $white-txt-color;
}

.wrapper {
    height: $header-height;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include l-tablet {
        .navigation {
            order: 1;
            display: none;
        }

        .logo {
            order: 2;

            img {
                width: 42px;
            }
        }

        .user {
            order: 3;
        }
    }
}

.dropdown {
    color: $white-txt-color;
    background-color: transparent;
    display: none;

    .menu-icon {
        font-size: 26px;
    }

    @include l-tablet {
        display: block;
    }
}

.logo {
    line-height: 100%;
}

.navigation {
    .list-item {
        display: flex;

        .item {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 14px;
            opacity: 0.8;
            -webkit-transition: 0.15s ease-in-out;
            transition: 0.15s ease-in-out;

            & + .item {
                margin-left: 12px;
            }

            &:hover {
                opacity: 1;
            }

            .car-icon {
                padding-right: 5px;
                filter: invert(100%) sepia(0%) saturate(5619%) hue-rotate(59deg) brightness(114%)
                    contrast(101%);
            }
        }
    }
}

.user {
    margin-right: -14px;
    padding: 14px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    opacity: 0.85;

    a {
        color: $white-txt-color;
    }

    &-icon {
        padding-right: 8px;
        color: $white-txt-color;
    }

    &:hover {
        opacity: 1;
        background-color: #262626;
    }
}
