$body-bg: #ffffff;
$main-color: #3e6ae1;
$header-bg-color: #0d0d0d;
$bg-color: #f4f4f4;

$dark-txt-color: #171a20;
$white-txt-color: #ffffff;

// $box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 68px;
$border-radius-1: 2px;
$border-radius-2: 4px;

// $mobile-width: 768px;
$tablet-width: 1024px;
$large-tablet-width: 1280px;

// $font-family: 'Montserrat', sans-serif;
$font-family: 'Open Sans', sans-serif;
