$body-bg: #ffffff;
$main-color: #3e6ae1;
$dark-bg-color: #0d0d0d;
$bg-color: #f4f4f4;

$dark-txt-color: #171a20;
$white-txt-color: #ffffff;
$grey-txt-color: #767676;

// $box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 68px;
$border-radius-1: 2px;
$border-radius-2: 4px;

$mobile-width: 768px;
$tablet-width: 1024px;
$large-tablet-width: 1280px;

$font-family-1: 'Open Sans', sans-serif;
$font-family-2: 'Noto Serif Oriya', serif;
